<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>前台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="/css/lines.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <!-- jQuery -->
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <!--时钟-->
    <link rel="stylesheet" href="/clock/css/demo.css"/>
    <!---//webfonts--->
    <!-- Nav CSS -->
    <link href="/css/custom.css" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/custom.js"></script>
    <!-- Graph JavaScript -->
    <script src="/js/d3.v3.js"></script>
    <script src="/js/rickshaw.js"></script>
</head>
<body>
<div id="wrapper">
    <div>
        <div class="graphs">
            <div class="col_1">
                <div class="col-md-4 span_7">
                    <div class="wrapper clearfix show">
                        <div class="clock" id="clock"></div>
                    </div>
                </div>
                <div class="col-md-4 span_8 stats-info">
                    <div class="activity_box">
                        <div class="scrollbar" id="style-2">
                            <div class="activity-row">
                                <div class="col-xs-1"><i class="fa fa-thumbs-up text-info icon_13"> </i>  </div>
                                <div class="col-xs-8 activity-desc">
                                    <h5>系统通知</h5>
                                    <p>Lorem Ipsum is simply dummy</p>
                                    <h6>8:03</h6>
                                </div>
                                <div class="clearfix"> </div>
                            </div>


                            <div class="activity-row1">
                                <div class="col-xs-1"><i class="fa fa-user text-info icon_12"></i></div>
                                <div class="col-xs-3 activity-img"><img src='../images/4.png' class="img-responsive" alt=""/></div>
                                <div class="col-xs-8 activity-desc">
                                    <h5><a href="#">perspiciatis</a> liked <a href="#">donating</a></h5>
                                    <p>Lorem Ipsum is simply dummy</p>
                                    <h6>8:03</h6>
                                </div>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 stats-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">已预定客房</h4>
                    </div>
                    <div class="panel-body">
                        <div class="scrollbar" id="style-2">
                            <ul class="list-unstyled" th:each="room:${roomListYu}">
                                <li><span th:each="room_statu:${room_status}" th:if="${room_statu.valueId==room.roomType}" th:text="${room_statu.valueName}"></span>：<span th:text="${room.roomNumber}"></span><div class="text-success pull-right"><span th:text="${room.roomPrice}"></span>￥</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="span_11">
                <div class="col-md-6 col_4">

                    <!----Calender -------->
                    <link rel="stylesheet" href="/css/clndr.css" type="text/css" />
                    <script src="/js/underscore-min.js" type="text/javascript"></script>
                    <script src= "/js/moment-2.2.1.js" type="text/javascript"></script>
                    <script src="/js/clndr.js" type="text/javascript"></script>
                    <script src="/js/site.js" type="text/javascript"></script>
                    <!----End Calender -------->
                </div>
                <div class="col-md-6 col_5">
                    <div id="chart_container">

                        <script>

                            var seriesData = [ [], [], [], [], [] ];
                            var random = new Rickshaw.Fixtures.RandomData(50);

                            for (var i = 0; i < 75; i++) {
                                random.addData(seriesData);
                            }

                            var graph = new Rickshaw.Graph( {
                                element: document.getElementById("chart"),
                                renderer: 'multi',

                                dotSize: 5,
                                series: [
                                    {
                                        name: 'temperature',
                                        data: seriesData.shift(),
                                        color: '#AFE9FF',
                                        renderer: 'stack'
                                    }, {
                                        name: 'heat index',
                                        data: seriesData.shift(),
                                        color: '#FFCAC0',
                                        renderer: 'stack'
                                    }, {
                                        name: 'dewpoint',
                                        data: seriesData.shift(),
                                        color: '#555',
                                        renderer: 'scatterplot'
                                    }, {
                                        name: 'pop',
                                        data: seriesData.shift().map(function(d) { return { x: d.x, y: d.y / 4 } }),
                                        color: '#555',
                                        renderer: 'bar'
                                    }, {
                                        name: 'humidity',
                                        data: seriesData.shift().map(function(d) { return { x: d.x, y: d.y * 1.5 } }),
                                        renderer: 'line',
                                        color: '#ef553a'
                                    }
                                ]
                            } );


                            graph.render();

                            var detail = new Rickshaw.Graph.HoverDetail({
                                graph: graph
                            });
                        </script>
                    </div>
                    <!-- map -->
                    <link href="/css/jqvmap.css" rel='stylesheet' type='text/css' />
                    <script src="/js/jquery.vmap.js"></script>
                    <script src="/js/jquery.vmap.sampledata.js" type="text/javascript"></script>
                    <script src="/js/jquery.vmap.world.js" type="text/javascript"></script>
                    <script type="text/javascript" src="/clock/js/clock-1.1.0.min.js"></script>
                    <script>

                        var clock = $("#clock").clock(),
                            data = clock.data('clock');

                        // data.pause();
                        // data.start();
                        // data.setTime(new Date());

                        var d = new Date();
                        d.setHours(9);
                        d.setMinutes(51);
                        d.setSeconds(20);

                        var clock1 = $("#clock1").clock({
                            width: 210,
                            height: 305,
                            theme: 't2',
                            date: d
                        });

                        var clock2 = $("#clock2").clock({
                            width: 150,
                            height: 220,
                            theme: 't3'
                        });

                    </script>
                    <script type="text/javascript">
                        jQuery(document).ready(function() {
                            jQuery('#vmap').vectorMap({
                                map: 'world_en',
                                backgroundColor: '#333333',
                                color: '#ffffff',
                                hoverOpacity: 0.7,
                                selectedColor: '#666666',
                                enableZoom: true,
                                showTooltip: true,
                                values: sample_data,
                                scaleColors: ['#C8EEFF', '#006491'],
                                normalizeFunction: 'polynomial'
                            });
                        });
                    </script>
                    <!-- //map -->
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="content_bottom">

                <div class="clearfix"> </div>
            </div>
            <div class="copy">
                <p>Copyright &copy; 2015 </p>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Bootstrap Core JavaScript -->
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
</body>
</html>
