<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>insertOperator</title>
    <div th:include="base::base"></div>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1><a href="javascript:history.go(-1)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a> 增加 <small>操作人员信息 </small></h1>
            </div>
            <form class="form-horizontal" id="insertOperatorForm">
                <div class="form-group">
                    <label for="on" class="col-sm-4 control-label">操作人员姓名：<span id="nameTiShi"></span></label>
                    <div class="col-sm-6">
                        <input type="text" name="oName" maxlength="5" oninput="checkNumber()" class="form-control"  id="on" placeholder="操作人员姓名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="od" class="col-sm-4 control-label">操作人员部门：</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="oDepartment" id="od"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="os" class="col-sm-4 control-label">操作人员权限等级：</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="oStatus" id="os"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="osa" class="col-sm-4 control-label">工资等级：</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="oSalary" id="osa"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ows" class="col-sm-4 control-label">工作状态：</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="oWorkStatus" id="ows"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-4 control-label">性别：</label>
                    <div class="col-sm-6">
                        <input type="radio" checked  name="oGender" id="genderNan" value="男"><label for="genderNan"><img  src="images/nan.png" alt="" title="男"></label>&nbsp;&nbsp;&nbsp;
                        <input type="radio"   name="oGender" id="genderNv" value="女"><label for="genderNv"><img  src="images/nv1.png" alt="" title="女"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ot" class="col-sm-4 control-label">电话：<span id="telTiShi"></span></label>
                    <div class="col-sm-6">
                        <input type="number" oninput="checkLength(1)" placeholder="操作人电话号码" class="form-control" name="oTel" id="ot">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwwd" class="col-sm-4 control-label">密码：</label>
                    <div class="col-sm-6">
                        <input type="password"  placeholder="操作人密码" class="form-control" name="oPassword" id="pwwd">
                    </div>
                </div>
                <div class="form-group">
                    <label for="www" class="col-sm-4 control-label">电话：<span id="pwdtishi"></span></label>
                    <div class="col-sm-6">
                        <input type="password" oninput="checkPwd()" placeholder="确认密码" class="form-control" name="oPasswordXP" id="www">
                    </div>
                </div>
                <div class="form-group">
                    <label for="eM" class="col-sm-4 control-label">Email：</label>
                    <div class="col-sm-6">
                        <input type="email"  placeholder="操作人邮箱" class="form-control" name="oEmail" id="eM">
                        <input type="hidden"  class="form-control" value="0" name="oDisabled" id="">
                        <input type="hidden"  class="form-control" value="0" name="oExpired" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="osfz" class="col-sm-4 control-label">身份证号：<span id="sfzTiShi"></span></label>
                    <div class="col-sm-6">
                        <input type="number" oninput="checkLength(2)" placeholder="操作人身份证号" class="form-control" name="oSFZ" id="osfz">
                    </div>
                </div>
                <div class="form-group">
                    <label for="oa" class="col-sm-4 control-label">住址：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="操作人住址" name="oAddress" id="oa">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ohun" class="col-sm-4 control-label">所在酒店：</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="oHotelUserNum" id="ohun"></select>
                    </div>
                </div>
                <div class="col-sm-10 control-label">
                    <button type="button" class="btn btn-info" id="alertLeft" onclick="insertOperatorForm()">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 添加
                    </button>
                </div>
            </form>



            <!--alert弹框样式-->
            <div class="modal fade" tabindex="-1" role="dialog" id="alertModel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">系统提示</h4>
                        </div>
                        <div class="modal-body" id="alerttishi">

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
<script type="text/javascript">

    // 检查是否包含数字
    function checkNumber() {
        var oName = $("input[name='oName'][id='on']").val();
        var reg = /^(?=.*\d.*\b)/;
        if(reg.test(oName)){
            // 包含nameTiShi
            $("#nameTiShi").html("<font color='red'><span class='glyphicon glyphicon-hand-right' aria-hidden='true'></span></font>");
            return false;
        }else{
            // 不包含
            $("#nameTiShi").html("");
            return true;
        }
    }

    // 检查密码
    function checkPwd() {
        var pwd = $("input[name='oPassword']").val();
        var pwdx = $("input[name='oPasswordXP']").val();
        if(pwd!=pwdx){
            $("#pwdtishi").html("<font color='red'><span class='glyphicon glyphicon-hand-right' aria-hidden='true'></span></font>");
            return false;
        }else{
            $("#pwdtishi").html("");
            return true;
        }

    }

    // 检查字符串长度
    function checkLength(r){
        if(r==1){
            var telLength = $("input[name='oTel']").val().length;
            if(telLength!=11){
                $("#telTiShi").html("<font color='red'><span class='glyphicon glyphicon-hand-right' aria-hidden='true'></span></font>");
                return false;
            }else{
                $("#telTiShi").html("");
                return true;
            }
        }else if(r==2){
            var sfzLength = $("input[name='oSFZ']").val().length;
            if(sfzLength!=18){
                $("#sfzTiShi").html("<font color='red'><span class='glyphicon glyphicon-hand-right' aria-hidden='true'></span></font>");
                return false;
            }else{
                $("#sfzTiShi").html("");
                return true;
            }
        }
    }


    $(function () {

        jsLoadSelect("OPERATOR_DEPARTMENTS",1);
        jsLoadSelect("OPERATOR_PERRMISSION_LEVEL",2);
        jsLoadSelect("WAGE_SCALE",3);
        jsLoadSelect("OPERATOR_WORK_STATUS",4);
        loadHotelUser();
    })

    // js ajax加载下拉框
    function jsLoadSelect(code,e){
        $.get("dataStatus/queryByCode","code="+code,function(result){
            var html = "";
            html+= "<option value='-1'>--请选择--</option>";
            $.each(result, function (index,item) {
                html+= "<option value='"+item.valueId+"'>"+item.valueName+"</option>";
            })
            if(e==1){
                $("select[id='od']").html(html);
            }else if(e==2){
                $("select[id='os']").html(html);
            }else if(e==3){
                $("select[id='osa']").html(html);
            }else if(e==4){
                $("select[id='ows']").html(html);
            }

        })
        // alert(z);
        // return z;
    }

    // ajax加载下拉框酒店
    function loadHotelUser() {
        $.post("ajaxQueryAllHotelUser",function (result) {
            var html = "";
            html+= "<option value='-1'>--请选择--</option>";
            $.each(result, function (index,item) {
                html+= "<option value='"+item.huNumber+"'>"+item.huName+"</option>";
            })
            $("select[id='ohun']").html(html);
        })
    }

    // 增加操作
    function insertOperatorForm() {
        var oName = $("input[name='oName']").val();
        if(oName==""){
            $("#alerttishi").html("<font color='red'>操作错误！</font>");
            $("#alertModel").modal("show");
            return;
        }
        var oTel = $("input[name='oTel']").val();
        if(oTel==""){
            $("#alerttishi").html("<font color='red'>操作错误！</font>");
            $("#alertModel").modal("show");
            return;
        }
        var oAddress = $("input[name='oAddress']").val();
        if(oAddress==""){
            $("#alerttishi").html("<font color='red'>操作错误！</font>");
            $("#alertModel").modal("show");
            return;
        }
        var oHotelUserNum = $("select[name='oHotelUserNum']").val();
        var oWorkStatus = $("select[name='oWorkStatus']").val();
        var oSalary = $("select[name='oSalary']").val();
        var  oStatus = $("select[name='oStatus']").val();
        var oDepartment = $("select[name='oDepartment']").val();
        if(oHotelUserNum==-1 || oWorkStatus==-1 || oSalary==-1 || oStatus==-1 || oDepartment==-1){
            $("#alerttishi").html("<font color='red'>操作错误！</font>");
            $("#alertModel").modal("show");
            return;
        }

        if(checkNumber()&&checkLength(1)&&checkLength(2)&&checkPwd()){
            var data = $("#insertOperatorForm").serialize();
            $.post("doInsertOperator",data,function (resutl) {
                if(resutl){
                    $("#alerttishi").html("<font color='green'>操作成功！</font>");
                }else{
                    $("#alerttishi").html("<font color='red'>操作错误！</font>");
                }
                $("#alertModel").modal("show");
            })
        }else{
            $("#alerttishi").html("<font color='red'>操作错误！</font>");
            $("#alertModel").modal("show");
        }


    }




</script>


</body>
</html>