<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hotel.hms.mapper.ConsumptionRecordMapper">
    <insert id="save" parameterType="ConsumptionRecord">
         INSERT INTO `consumptionRecord` VALUES(DEFAULT,#{conType},#{conScene},#{conContent},#{conPrice},#{conName},NOW(),#{conRemarks},#{billConfirmer},#{billstatus},#{conBillNumber},#{conBillNumber});
    </insert>
    
    <select id="queryAll" parameterType="ConsumptionRecord" resultType="cn.hotel.vo.ConsumptionRecordVO">
        SELECT con.*,sta.valueName AS conTypeName,sta.valueName AS billstatusName,op.oName AS billConfirmerName FROM `consumptionRecord` AS con,`datastatus` AS sta,`datastatus` AS stb,`operator` AS op WHERE con.conType = sta.valueId AND con.billstatus = stb.valueId AND sta.typeCode = 'CONSUMPTION_TYPE' AND stb.typeCode = 'BILL_STATUS' AND con.billConfirmer = op.oId AND con.roomNumber = #{roomNumber}
    </select>

    <update id="repaceRoomNo">
        update `consumptionRecord` set  roomNumber = #{replaceNo} where roomNumber = #{no}
    </update>

    <select id="queryConsumptionRecordCount" resultType="cn.hotel.entity.ConsumptionRecord">
        SELECT SUM(conPrice) AS conPrice ,COUNT(*) AS conType  FROM consumptionRecord  WHERE TO_DAYS(conTime) = TO_DAYS(NOW())
    </select>
    <select id="queryAllByConsumptionRecore" resultType="cn.hotel.entity.ConsumptionRecord">
        SELECT * FROM consumptionRecord WHERE 1=1
        <if test="conType!=null">
          and   conType=#{conType}
        </if>
        <if test="conBillNumber!=null">
            AND conBillNumber=#{conBillNumber}
        </if>
        <if test="toConTime!=null">
            AND  DATE_FORMAT(conTime,'%Y-%m-%d') BETWEEN #{toConTime} AND #{doConTime}
        </if>
        <if test="conPrice!=null">
            AND conPrice<![CDATA[>=]]>#{conPrice}
        </if>
    </select>
    <select id="queryConsumptionRecordByconBillNumber" resultType="cn.hotel.entity.ConsumptionRecord">
        SELECT * FROM consumptionRecord WHERE conBillNumber=#{conBillNumber}
    </select>
</mapper>