<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hotel.hms.mapper.MemberMapper">
    <select id="detailMember" parameterType="cn.hotel.entity.Member" resultType="cn.hotel.entity.Member">
        select * from member
        <where>
            <if test="mId!=null and mId!=-1">mId = #{mId}</if>
            <if test="mName!=null and mName!=''">and mName = #{mName}</if>
            <if test="mSFZtype!=null and mSFZtype!=-1">and mSFZtype = #{mSFZtype}</if>
            <if test="mSFZ!=null and mSFZ!=''">and mSFZ = #{mSFZ}</if>
        </where>
    </select>

    <insert id="insertMember" parameterType="cn.hotel.entity.Member">
        insert into member value(null, #{mNumber}, #{mName}, #{mGender}, #{mSFZtype}, #{mSFZ}, #{mAddress}, #{mTel}, NOW(), #{mTotalConsumption}, #{mMembershipRank}, #{mRemarks})
    </insert>

    <update id="updateMember" parameterType="cn.hotel.entity.Member">
        update member
        <set>
            <if test="mNumber!=null and mNumber!=''">mNumber = #{mNumber},</if>
            <if test="mName!=null and mName!=''">mName = #{mName},</if>
            <if test="mGender!=null and mGender!=-1">mGender = #{mGender},</if>
            <if test="mSFZtype!=null and mSFZtype!=-1">mSFZtype = #{mSFZtype},</if>
            <if test="mSFZ!=null and mSFZ!=''">mSFZ = #{mSFZ},</if>
            <if test="mAddress!=null and mAddress!=''">mAddress = #{mAddress},</if>
            <if test="mTel!=null and mTel!=''">mTel = #{mTel},</if>
            <if test="mTotalConsumption!=null and mTotalConsumption!=-1">mTotalConsumption = #{mTotalConsumption},</if>
            <if test="mMembershipRank!=null and mMembershipRank!=-1">mMembershipRank = #{mMembershipRank},</if>
            <if test="mRemarks!=null and mRemarks!=''">mRemarks = #{mRemarks}</if>
        </set>
        where mId = #{mId}
    </update>

    <delete id="deleteMember" parameterType="cn.hotel.entity.Member">
        delete from member where mId = #{mId}
    </delete>

    <select id="queryAllMember" parameterType="cn.hotel.entity.Member" resultMap="mrMap">
        SELECT
        m.`mId`, m.mNumber, m.mName, m.mGender,
        (SELECT valueName FROM `datastatus` WHERE typeCode='DOCUMENT_TYPE' AND valueId=m.mSFZtype) mSFZtypeName,
        m.mSFZ, m.mAddress, m.mTel, m.mCreateTime, m.mTotalConsumption, m.mRemarks, mr.mrId, mr.mrName, mr.mrFavouredPolicy, mr.mrDiscountRate, mr.mrDetail,
        (SELECT mrName FROM `membershiprank` WHERE mrId = m.mMembershiprank) mMembershipRankName
        FROM `member` m, `membershiprank` mr
        <where>
            m.mMembershiprank = mr.mrId
            <if test="mName!=null and mName!=''">and m.mName like concat('%',#{mName},'%')</if>
            <if test="mSFZtype!=null and mSFZtype!=-1">and m.mSFZtype = #{mSFZtype}</if>
            <if test="mMembershipRank!=null and mMembershipRank!=-1">and m.mMembershipRank = #{mMembershipRank}</if>
        </where>
    </select>
    <resultMap id="mrMap" type="cn.hotel.vo.MemberVO" autoMapping="true">
        <id column="mId" property="mId"></id>
        <association property="mMembershipRank" resultMap="mrmMap"></association>
    </resultMap>
    <resultMap id="mrmMap" type="cn.hotel.entity.MembershipRank" autoMapping="true">
        <id column="mrId" property="mrId"></id>
    </resultMap>

</mapper>