<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hotel.hms.mapper.MemberShipScoreMapper">
    <select id="queryAllMemberShipScore" resultType="cn.hotel.vo.MemberShipScoreVO">
         SELECT mssId, mssMId, mssIntegral, mssStatus,
         (SELECT mName FROM member WHERE `mId`=mssMId) mName,
         (SELECT mrName FROM `membershiprank` WHERE mrId = (SELECT mMemberShipRank FROM member WHERE `mId`=mssMId )) mMSR
          FROM `memberShipScore` WHERE mssIntegral >=100 AND mssStatus = 1
    </select>

    <update id="updateMemberShipScore">
        update  memberShipScore
        <set>
            <if test="mssIntegral!=null and mssIntegral!=-1">mssIntegral = mssIntegral-#{mssIntegral},</if>
            <if test="mssStatus!=null and mssStatus!=-1">mssStatus = #{mssStatus}</if>
        </set>
        where mssId = #{mssId}
    </update>
    <update id="updateMemberShioScoreSave">
        update  memberShipScore
        <set>
            <if test="mssIntegral!=null and mssIntegral!=-1">mssIntegral = mssIntegral+#{mssIntegral},</if>
            <if test="mssStatus!=null and mssStatus!=-1">mssStatus = #{mssStatus}</if>
        </set>
        where mssId = #{mssId}
    </update>

    <select id="detailMemberShipScoreVO" resultType="cn.hotel.vo.MemberShipScoreVO">
          SELECT mssId, mssMId, mssIntegral, mssStatus,
         (SELECT mName FROM member WHERE `mId`=mssMId) mName,
         (SELECT mrName FROM `membershiprank` WHERE mrId = (SELECT mMemberShipRank FROM member WHERE `mId`=mssMId )) mMSR
          FROM `memberShipScore` WHERE mssIntegral >=100 AND mssStatus = 1 ORDER BY RAND() LIMIT 1
    </select>
    <select id="detailMSSV" resultType="cn.hotel.vo.MemberShipScoreVO" parameterType="integer">
          SELECT mssId, mssMId, mssIntegral, mssStatus,
         (SELECT mName FROM member WHERE `mId`=mssMId) mName,
         (SELECT mrName FROM `membershiprank` WHERE mrId = (SELECT mMemberShipRank FROM member WHERE `mId`=mssMId )) mMSR
          FROM `memberShipScore`
        where mssStatus = #{mssStatus}
    </select>
    <select id="ListdetailMSSV" resultType="cn.hotel.vo.MemberShipScoreVO" parameterType="integer">
          SELECT mssId, mssMId, mssIntegral, mssStatus,
         (SELECT mName FROM member WHERE `mId`=mssMId) mName,
         (SELECT mrName FROM `membershiprank` WHERE mrId = (SELECT mMemberShipRank FROM member WHERE `mId`=mssMId )) mMSR
          FROM `memberShipScore`
        where mssStatus = #{mssStatus}
    </select>
    <select id="detailOne" resultType="cn.hotel.vo.MemberShipScoreVO" parameterType="integer">
          SELECT mssId, mssMId, mssIntegral, mssStatus,
         (SELECT mName FROM member WHERE `mId`=mssMId) mName,
         (SELECT mrName FROM `membershiprank` WHERE mrId = (SELECT mMemberShipRank FROM member WHERE `mId`=mssMId )) mMSR
          FROM `memberShipScore`
        where mssMId = #{mssMId}
    </select>

    <select id="detailMemberShipScoreVOTwo" parameterType="string" resultMap="mssvtMap">
        SELECT mss.mssId, mss.mssMId, mss.mssIntegral, mss.mssStatus,
         (SELECT mName FROM member WHERE `mId`=mss.mssMId) mName,
         (SELECT mrName FROM `membershiprank` WHERE mrId = (SELECT mMemberShipRank FROM member WHERE `mId`=mss.mssMId )) mMSR,
         m.*
          FROM `memberShipScore` mss, member m WHERE mss.mssMId = m.mId AND mssIntegral >=100 AND m.mNumber LIKE CONCAT('%',#{mNumber},'%')
    </select>
    <resultMap id="mssvtMap" type="cn.hotel.vo.MemberShipScoreVOTwo" autoMapping="true">
        <id property="mssId" column="mssId"></id>
        <association property="mssMId" resultMap="mMap"></association>
    </resultMap>
    <resultMap id="mMap" type="cn.hotel.entity.Member" autoMapping="true">
        <id property="mId" column="mId"></id>
    </resultMap>



</mapper>