<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hotel.hms.mapper.RoomMapper">
    <select id="queryAll" parameterType="Room" resultType="Room">
        select * from `room`
        <where>
            <if test="roomType != null and roomType != -1">
                and roomType = #{roomType}
            </if>

            <if test="roomStatus != null and roomStatus != -1">
                and roomStatus = #{roomStatus}
            </if>

            <if test='roomNumber != null and roomNumber != ""'>
                and roomNumber = #{roomNumber}
            </if>

            <if test="roomBed != null">
                and roomBed = #{roomBed}
            </if>
        </where>
    </select>
</mapper>