<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hotel.hms.mapper.RoomMapper">
    <select id="queryAll" parameterType="Room" resultType="cn.hotel.vo.RoomVO">
        select r.*,sta.risorse as roomStatusRisorse,stb.valueName as roomNumberValue from `room` as r,datastatus as sta,datastatus as stb where r.`roomStatus` = sta.`valueId` and stb.valueId = r.roomType and sta.typeCode='ROOM_STATUS' and stb.typeCode = 'ROMM_TYPE'
            <if test="roomType != null and roomType != -1">
                and roomType = #{roomType}
            </if>

            <if test="roomStatus != null and roomStatus != -1">
                and roomStatus = #{roomStatus}
            </if>

            <if test='roomNumber != null and roomNumber != ""'>
                and roomNumber = #{roomNumber}
            </if>

            <if test="roomBed != null">
                and roomBed = #{roomBed}
            </if>
    </select>

    <select id="queryByNumber" resultType="cn.hotel.vo.RoomVO" parameterType="String">
        SELECT r.*,sta.valueName AS roomTypeName,stb.valueName as roomStatusName FROM `room` AS r,`datastatus` AS sta,datastatus as stb  WHERE r.roomType = sta.valueId AND sta.typeCode = 'ROMM_TYPE' AND r.roomType = stb.valueId and stb.typeCode = 'ROOM_STATUS' and r.roomNumber = #{no}
    </select>
    
    <update id="updateStatus" parameterType="Room">
        update `room` set roomStatus = #{roomStatus} where roomNumber = #{roomNumber}
    </update>

    <select id="queryRoomAllNumber" resultType="Room">
        select * from `room` where roomStatus = 1
    </select>
    <select id="queryRoomAllMake" resultType="cn.hotel.entity.Room">
        select * from `room` where roomStatus = 5
    </select>
</mapper>